<div class="modal fade" id="newRequest" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New Request</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
            <form action="{% url 'add_request' %}" enctype="multipart/form-data" id="add-request-form"  method="post" novalidate>
                {% csrf_token %}
                <div class="mb-3">
                    <label for="TransactionCategory" class="form-label">
                        <span>Transaction Category</span>
                    </label>
                    {{request_form.category}}
                    <div class="invalid-feedback d-block">
                        <ul class="errorlist">
                            <li id="error-category"></li>
                        </ul>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="date" class="form-label">
                        <span>Date</span>
                    </label>
                    {{request_form.start_at}}
                    <div class="invalid-feedback d-block">
                        <ul class="errorlist">
                            <li id="error-start_at"></li>
                        </ul>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="Amount" class="form-label">
                        <span>Amount ( SAR )</span>
                    </label>
                    {{request_form.amount}}
                    <div class="invalid-feedback d-block">
                        <ul class="errorlist">
                            <li id="error-amount"></li>
                        </ul>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="Attachment" class="form-label">
                        <span>Attachment</span>
                    </label>
                    {{request_form.attachment}}
                    <div class="invalid-feedback d-block">
                        <ul class="errorlist">
                            <li id="error-attachment"></li>
                        </ul>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="note" class="form-label">
                        <span>Note (optional)</span>
                    </label>
                    {{request_form.note}}
                    <div class="invalid-feedback d-block">
                        <ul class="errorlist">
                            <li id="error-note"></li>
                        </ul>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="Participants" class="form-label">
                        <span>Participants</span>
                    </label>
                    {{request_form.users}}
                    <div class="invalid-feedback d-block">
                        <ul class="errorlist">
                            <li id="error-users"></li>
                        </ul>
                    </div>
                </div>

            
                <div class="text-center mt-5">
                    <button type="submit" class="btn btn-primary mb-3  hvr-float w-100">Save</button>
                </div>
                
            </form>
        </div>
        
    </div>
    </div>
</div>