{% load multiple %}
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Transaction Category </th>
            <th scope="col">Date</th>
            <th scope="col">Amount</th>
            </tr>
        </thead>
        <tbody>
            {% if objects %}
            {% for object in objects %}
            <tr>
                <th scope="row">{{object.id}}</th>
                <td>{{object.category}}</td>
                <td>{{object.created_at}}</td>
                {% if object.request_type == 'income' %}
                <td class="text-success">{{object.amount}}</td>
                {% elif object.request_type == 'expense' %}
                <td class="text-danger">{{object.amount}}</td>
                {% else %}
                {% if request.user.is_superuser %}
                    {% if object.category.name == 'Reserved Income to shareholders' or object.category.name == 'Reversed Available to shareholder' %}
                    <td class="">{{object.amount}}</td>
                    {% else %}
                    <td class="">{{object.amount}}</td>
                    {% endif %}
                {% else %}
                {% if object.category.name == 'Reserved Income to shareholders' or object.category.name == 'Reversed Available to shareholder' %}
                    <td class="">{{object.amount}}</td>
                    {% else %}
                    <td class="">{{object.user_amount}}</td>
                    {% endif %}
                {% endif %}
                
                {% endif %}
                
            </tr>
            {% endfor %}
            {% else %}
            <td colspan="4" class="text-center">No Transactions available</td>
            {% endif %}
            
        </tbody>
    </table>
</div>