{% load static %}
{% load pwa %}
{% load webpush_notifications %}
{% load multiple %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo.png' %}">
    <meta name = "keywords" content = "" />
    <meta name = "description" content = "" />
    <title>Home</title>
     <!--outer styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-free/css/all.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/hover-min.css' %}">
	<link rel="stylesheet" href="{% static 'css/animation_library.css' %}">
    <!--my style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% webpush_header %}
    {% progressive_web_app_meta %}
</head>

<body dir="ltr">
    
    <!-- Start header -->
    <header>
        <nav class="navbar navbar-dark bg_primary_color px-lg-4">
            <!-- Navbar content -->
            <div class="row m-0 justify-content-between w-100">
                <div class="col-9 col-md-auto py-2">
                    <div class="row">
                        <div class="col-2 col-md-auto">
                            <i class="fa-solid fa-circle-user rounded-circle mt-1 text-white fs-1"></i>
                        </div>
                        <div class="col-9 col-md ">
                            <p class="m-0 text-white Tajawal-Bold">{{request.user.username}}</p>
                            {% if request.user.is_superuser %}
                            <p class="m-0 text-white Tajawal-Bold">Admin</p>
                            {% elif request.user.is_staff %}
                            <p class="m-0 text-white Tajawal-Bold">Approver</p>
                            {% else %}
                            <p class="m-0 text-white Tajawal-Bold">User</p>
                            {% endif %}
                            
                        </div>
                    </div>
                </div>
                {% comment %} <div class="col-3 col-md-auto col-lg-3 mb-md-0 py-2 "> {% endcomment %}
                    <!--start menu icon-->
                    <div class="col-3 col-md-auto mb-md-0 py-2 ">

                    <span class="material-symbols-outlined d-flex justify-content-end fs-3 d-lg-none  hvr-pulse mt-1 text-white menu-icon mt-3">
                        menu_open
                    </span>
                    
                    <i class="fa-solid fa-arrow-left-long  d-flex justify-content-end hvr-pulse small-icon d-none text-white mt-3"></i>
                    {% webpush_button with_class="btn" %}
                    
                </div>
            </div>
          </nav>
    </header>
    <!-- End header -->
 
    <!-- Start sidebar -->
    <div class="sidebar d-none d-lg-block pt-4 bg_scoundry_color">
        <!-- start navbar -->
        {% include 'core/navbar.html' %}
        <div class="text-center absolute_buttom">
            <a href="{% url 'account:logout' %}"  class="btn btn-primary vhr-float">
            <span class="material-symbols-outlined mt-lg-1">
                logout
            </span>
            Logout</a>
        </div>

    </div>
    <!-- End sidebar -->
        
    <!-- Start body -->
    <div class="body py-4 px-2 px-lg-4">
    
        <!-- Top buttons-->
        <div class=" text-center text-lg-start">
            {% if  user.is_superuser == False %}
            <button type="button" class="btn btn-primary vhr-float mb-2" data-bs-toggle="modal" data-bs-target="#newRequest">
                <span class="material-symbols-outlined mt-lg-1">
                    add
                </span>
                New Request
            </button>
            {% endif %}
            
            {% if user.is_superuser %}
            <button type="button" class="btn btn-primary vhr-float mx-md-2 mb-2" data-bs-toggle="modal" data-bs-target="#reservedIncome">
                <span class="material-symbols-outlined mt-lg-1">
                    add
                </span>
                New Reserved Income
            </button>
            <button type="button" class="btn btn-primary vhr-float mb-2" data-bs-toggle="modal" data-bs-target="#Reserved_to_Available">
                <span class="material-symbols-outlined mt-lg-1">
                    add
                </span>
                Reserved to Available  
            </button>
            <button type="button" class="btn btn-primary vhr-float mb-2" data-bs-toggle="modal" data-bs-target="#Emergency_to_Available">
                <span class="material-symbols-outlined mt-lg-1">
                    add
                </span>
                Emergency to Available  
            </button>
            {% endif %}
            
        </div>
        <!-- The Bill Details-->
        <div class="row Bill_Details mt-3" >
            <div class="col-12 col-md mb-2  py-4 text-center" style="background:#A9CCE3">
                <h4>Available Balance</h4>
                {% if request.user.is_superuser %}
                <h2 class="Tajawal-Bold">{{user.wallet.total_available|floatformat:2|intcomma}} SAR</h2>
                {% else %}
                <h2 class="Tajawal-Bold">{{user.wallet.available_balance|floatformat:2|intcomma}} SAR</h2>
                {% endif %}
                

            </div>
            <div class="col-12 col-md mb-2 py-4 text-center" style="background:#F5B041">
                <h4>Reserved Account</h4>
                {% if request.user.is_superuser %}
                <h2 class="Tajawal-Bold">{{user.wallet.total_reverce|floatformat:2|intcomma}} SAR</h2>
                {% else %}
                <h2 class="Tajawal-Bold">{{user.wallet.reversed_account|floatformat:2|intcomma}} SAR</h2>
                {% endif %}
                

            </div>
            <div class="col-12 col-md mb-2 py-4 text-center" style="background:#AEB6BF">
                <h4>Emergency Balance</h4>
                {% if request.user.is_superuser %}
                <h2 class="Tajawal-Bold">{{user.wallet.total_emergency|floatformat:2|intcomma}} SAR</h2>
                {% else %}
                <h2 class="Tajawal-Bold">{{user.wallet.emergency_balance|floatformat:2|intcomma}} SAR</h2>
                {% endif %}
                

            </div>
        </div>
        <!-- The Bill income and Expenses-->
        <div class="row Bill_Details mt-3">
            <div class="col-12 col-md mb-2 bg_scoundary_color py-4 text-center">
                <h4>Income this month</h4>
                <h2 class="Tajawal-Bold">{% if month_income.amount__sum > 0  %}+{{month_income.amount__sum|floatformat:2|intcomma}}  {% else %}0{% endif %}  SAR</h2>

            </div>
            <div class="col-12 col-md mb-2 bg_scoundary_color py-4 text-center">
                <h4>Expenses this month</h4>
                <h2 class="Tajawal-Bold">{% if month_expense.amount__sum > 0  %}-{{month_expense.amount__sum|floatformat:2|intcomma}}  {% else %}0{% endif %} SAR</h2>

            </div>
        </div>

        <!-- Recent Transactions Table-->
        <div class="p-3 bg_scoundary_color mt-5">
            <h4 class="Tajawal-Bold">Recent Transactions</h4>
            <hr>
            {% include 'core/requests.html' %}
            <!-- Pagination-->
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                {% endif %}
                  
                {% for object in page_obj.paginator.page_range %}
                <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
            {% endfor %} 
                  {% if page_obj.has_next %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                  {% endif %}
                  
                </ul>
              </nav>
        </div>
    </div>
    <!-- End body -->

    <!-- Start footer -->
    <footer class="body text-center py-3 mt-3">
        <p class="primary_color">All rights reserved 2023 © Split Bill System.</p>
    </footer>
    <!-- End footer -->

<!-- All Models Here..... -->

    <!--delate Confirm Modal -->
    <div class="modal fade" id="delate_confirm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirm deletion</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer justify-content-center">
            <button type="submit" class="btn btn-danger">Delete</button>
            </div>
        </div>
        </div>
    </div>

    <!--Add new Request Modal -->
    {% include 'core/new_request.html' %}

    <!--Add Reserved Income Modal -->
    {% include 'core/new_income.html' %}

    <!--Add Reserved to Available Modal -->
    {% include 'core/new_available.html' %}
    {% comment %} Emergency_to_Available {% endcomment %}
    {% include 'core/emergency.html' %}

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/backend.js' %}"></script>
    <script src="{% static 'js/myscript.js' %}"></script>
   

</body>

</html>