<div class="modal fade" id="approveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New Request</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
            <div id="non-form-error"></div>
            <form action="" id="edit-approve-list-form"  method="post" novalidate>
                {% csrf_token %}
                <div class="mb-3">
                    <input type="hidden" name="request_id" id="request_id">
                    <label for="Amount" class="form-label">
                        <span>Amount ( RS )</span>
                    </label>
                    {{approve_form.amount}}
                    <div class="invalid-feedback d-block">
                        <ul class="errorlist">
                            <li id="error-amount"></li>
                        </ul>
                    </div>
                </div>
                
                <div class="mb-3">
                    <label for="Approved users" class="form-label">
                        <span>Approved users</span>
                    </label>
                    {{approve_form.approved_list}}
                    <div class="invalid-feedback d-block">
                        <ul class="errorlist">
                            <li id="error-approved_list"></li>
                        </ul>
                    </div>
                </div>

                <div class="mb-3 d-none">
                    <label for="Participants" class="form-label">
                        <span>Participants</span>
                    </label>
                    {{approve_form.users}}
                    <div class="invalid-feedback d-block">
                        <ul class="errorlist">
                            <li id="error-users"></li>
                        </ul>
                    </div>
                </div>
                <div class="text-center mt-5">
                    <button type="submit" class="btn btn-primary mb-3  hvr-float w-100">Save</button>
                </div> 
                
            </form>
        </div>
        
    </div>
    </div>
</div>