{% load humanize %}
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Transaction Category </th>
            <th scope="col">Amount</th>
            <th>User</th>
            <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for object in objects %}
            <tr>
                <th scope="row">{{object.id}}</th>
                <td>{{object.category}}</td>
                {% if object.owner.wallet.limit < object.amount  %}
                <td class="text-danger">{{object.amount|intcomma}}</td>
                {% elif object.owner.wallet.limit > object.amount %}
                <td class="text-success">{{object.amount|intcomma}}</td>
                {% else %}
                <td class="">{{object.amount|intcomma}}</td>
                {% endif %}
                
                
                <td class="users">
                    <i class="fa-solid fa-circle-user rounded-circle mt-1 fs-3" data-bs-toggle="tooltip" data-bs-placement="top" title="{{object.owner.first_name}}"></i>
                </td>
                <td>
                    <button class="btn btn-success" onclick="complete({{object.id}})">Complete</button>
                    <button class="btn btn-warning" onclick="edit_request({{object.id}})" data-bs-toggle="modal" data-bs-target="#editRequest">Edit</button>
                    <button class="btn btn-danger" onclick="reject({{object.id}})">Reject</button>
                    <button class="btn btn-primary" onclick="print({{object.id}})">Print</button>
                </td>
                </tr>
            {% endfor %}
            
        </tbody>
    </table>
</div>
<script>
    function complete(id)
        {
            $.ajax({
                url : "/request/complete/"+id+"/", // create institution
                //type : "POST", // http method
                //data : formData, // data sent with the post request
                cache: false,
                contentType: false,
                processData: false,
                success : function(res) {
                    
                    window.location.reload();
                          
                },
    
                // handle a non-successful response
                error : function(xhr,errmsg,err) {
                    console.log(err)
                }
            });
        }
        
    function reject(id)
        {
            $.ajax({
                url : "/request/reject/"+id+"/", // create institution
                //type : "POST", // http method
                //data : formData, // data sent with the post request
                cache: false,
                contentType: false,
                processData: false,
                success : function(res) {
                    
                    window.location.reload();
                          
                },
    
                // handle a non-successful response
                error : function(xhr,errmsg,err) {
                    console.log(err)
                }
            });
        }

    function edit_request(id)
        {
        $.ajax({
            url : "/request/edit-request/"+id+"/", // create institution
            //type : "POST", // http method
            //data : formData, // data sent with the post request
            cache: false,
            contentType: false,
            processData: false,
            success : function(res) {
                res = JSON.parse(res)
                
                for (const [key,value] of Object.entries(res))
                {
                    $("#edit-request-form #id_"+key).val(value)
                }
                $("#request_id").val(res.id)
                
            },

            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                console.log(err)
            }
        });
    }
    function print(id)
    {
        $.ajax({
            url : "/panel/print-request/"+id+"/", // create institution
            //type : "POST", // http method
            //data : formData, // data sent with the post request
            cache: false,
            contentType: false,
            processData: false,
            success : function(res) {
                
                
                html2pdf()
                    .from(res)
                    .save();
                //w=window.open();
                //w.document.write(res);
                //w.print();
                //w.close();
                
            },

            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                console.log(err)
            }
        });
        
    }
</script>