<div class="modal fade" id="addNewUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add New User</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="{% url 'account:register' %}" method="post" id="add-user-form" novalidate>
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">
                        <span class="material-symbols-outlined">
                            person
                        </span>
                        <span>Username</span>
                    </label>
                    {{signup_form.username}}
                    <div class="invalid-feedback d-block">
                        <ul class="errorlist">
                            <li id="error-username"></li>
                        </ul>
                        </div>
                </div>
                <div class="mb-3">
                    <label for="first_name" class="form-label">
                        <span class="material-symbols-outlined">
                            person
                        </span>
                        <span>Name</span>
                    </label>
                    {{signup_form.first_name}}
                    <div class="invalid-feedback d-block">
                        <ul class="errorlist">
                            <li id="error-first_name"></li>
                        </ul>
                        </div>
                </div>
                <div class="mb-3">
                    <label for="password1" class="form-label">
                        <span class="material-symbols-outlined">
                            lock
                        </span>
                        <span>Password</span>
                    </label>
                    {{signup_form.password1}}
                    <div class="invalid-feedback d-block">
                        <ul class="errorlist">
                            <li id="error-password1"></li>
                        </ul>
                        </div>
                </div>
                <div class="mb-3">
                    <label for="password2" class="form-label">
                        <span class="material-symbols-outlined">
                            lock
                        </span>
                        <span>Repeate password</span>
                    </label>
                    {{signup_form.password2}}
                    <div class="invalid-feedback d-block">
                        <ul class="errorlist">
                            <li id="error-password2"></li>
                        </ul>
                        </div>
                </div>
                <div class="mb-3">
                    <label for="SharePercentage" class="form-label">
                        <span class="material-symbols-outlined">
                            percent
                        </span>
                        <span>Share Percentage</span>
                    </label>
                    {{wallet_form.share_percentage}}
                    <div class="invalid-feedback d-block">
                        <ul class="errorlist">
                            <li id="error-share_percentage"></li>
                        </ul>
                        </div>
                </div>
                <div class="mb-3">
                    <label for="UserLimitAmount" class="form-label">
                        <span class="material-symbols-outlined">
                            stairs
                        </span>
                        <span>User Limit Amount</span>
                    </label>
                    {{wallet_form.limit}}
                    <div class="invalid-feedback d-block">
                        <ul class="errorlist">
                            <li id="error-limit"></li>
                        </ul>
                        </div>
                </div>

                <div class="mb-3">
                    <label for="UserLimitAmount" class="form-label">
                        <span class="material-symbols-outlined">
                            bolt
                        </span>
                        <span>User Access</span>
                    </label>
                    <div class="form-check">
                        {{signup_form.is_superuser}}
                        <label class="form-check-label" for="id_is_superuser">
                          Admin
                        </label>
                      </div>
                      <div class="form-check">
                        {{signup_form.is_staff}}
                        <label class="form-check-label" for="id_is_staff">
                          Approver
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="user" checked id="exampleRadios3" value="">
                        <label class="form-check-label" for="exampleRadios3">
                          User
                        </label>
                      </div>
                </div>

                
                <div class="text-center mt-5">
                    <button type="submit" class="btn btn-primary mb-3  hvr-float w-100">Save</button>
                </div>
                
            </form>
        </div>
        
    </div>
    </div>
</div>